[pager]
	branch = false
[core]
	excludesfile = ~/.gitignore_global
[user]
	name = btukus
	email = berkhan.tukus@sensey.io
[credential]
	helper = cache
[http]
	sslVerify = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[include]
	path = ~/.config/git/identity-routing
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
