[pager]
	branch = false
[core]
	excludesfile = /home/btukus/.gitignore_global
[user]
	name = btukus
	email = berkhan.tukus@sensey.io
[credential]
	helper = cache
[http]
	sslVerify = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
