.DS_STORE
# Ignore brew lock file
brew/Brewfile.lock.json

# Ignore packer plugin folder
config/.config/nvim/pLugin/

# Ignore java config tools
config/.config/tools-nvim/
config/.config/thefuck/

# Ignore files in .config except config
config/.config/spotify-tui/
config/.config/packer/
config/.config/TabNine/
config/.config/wslu/
config/.config/configstore/
config/.config/tmux/plugins/
config/.config/zsh/
config/.config/grammarly-languageserver/
config/.config/lazygit/
config/.config/raycast/
config/.config/iterm2/
config/.config/github-copilot/
config/.config/tool_state
config/.config/ngrok/
config/.config/flutter/
config/.config/.android/
config/.config/helm/
config/.config/btop/
config/.config/lazydocker/
config/.config/argocd/
config/.config/NuGet/

zsh/antidote/.antidote/
zsh/antidote/shared_plugins.zsh
zsh/.zsh_sessions/
zsh/.zcompcache
zsh/.zcompdump
zsh/z/

zsh/aliases/envspecific.zsh
zsh/aliases/temp.zsh

ansible/.tool-versions
