.DS_STORE
# Ignore brew lock file
brew/Brewfile.lock.json

# Ignore packer plugin folder
config/.config/nvim/pLugin/

# Ignore java config tools
config/.config/tools-nvim/
config/.config/thefuck/

# Ignore files in .config except config
config/.config/spotify-tui/
config/.config/packer/
config/.config/TabNine/
config/.config/wslu/
config/.config/configstore/
config/.config/tmux/plugins/
config/.config/zsh/
config/.config/grammarly-languageserver/
config/.config/lazygit/
config/.config/raycast/
config/.config/iterm2/
config/.config/github-copilot/
config/.config/tool_state
config/.config/ngrok/
config/.config/flutter/



zsh/antidote/.antidote/
zsh/.zsh_history
zsh/.zsh_sessions
zsh/.zshz*
zsh/.zcompdump
zsh/antidote/mac_plugins.zsh
zsh/antidote/shared_plugins.zsh
zsh/.zsh_plugins.txt
zsh/.zsh_plugins.zsh
zsh/.zcompcache
zsh/aliases/envspecific.zsh
zsh/aliases/temp.zsh
