# Ignore brew lock file
brew/Brewfile.lock.json

# Ignore packer plugin folder
nvim/.config/nvim/plugin/

# Ignore java nvim tools
nvim/.config/tools-nvim/
nvim/.config/thefuck/

# Ignore files in .config except nvim
nvim/.config/spotify-tui/
nvim/.config/packer/
nvim/.config/TabNine/
nvim/.config/wslu/
nvim/.config/configstore/
