[
  {
    "openSelectedFolders" : true,
    "keyCode" : 49,
    "enabled" : false,
    "hideIfActive" : false,
    "url" : "\/Clipboard.clipboard",
    "openSelectedFiles" : true,
    "modifierFlags" : 1179648,
    "order" : 0
  },
  {
    "order" : 1,
    "url" : "\/System\/Applications\/Utilities\/Terminal.app",
    "openSelectedFolders" : true,
    "enabled" : true,
    "modifierFlags" : 655650,
    "keyCode" : 0,
    "openSelectedFiles" : false,
    "bookmark" : "Ym9va3ACAAAAAAQQMAAAAMylXnGC8iBOURue+bupuxmF991hMD\/9VyMIklc1xsrUkAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAAVXRpbGl0aWVzAAAADAAAAAEBAABUZXJtaW5hbC5hcHAQAAAAAQYAABAAAAAgAAAANAAAAEgAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAA+j0BAP\/\/\/w8IAAAABAMAAHGpAQD\/\/\/8PEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAAAAAEAABBxJz5JgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAACQAAAABAQAAQkIwQjFBQkEtNjcxOS00MTkxLTlGNzMtNUY4QzU3QTQ5ODU4GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAFwAAAAAAAAABRAAALQAAAAAAAAAEBAAANwAAAAAAAAAQBAAAMwAAAAAAAAAAiAAAHwBAAAAAAAABSAAAPwAAAAAAAAAECAAAAwBAAAAAAAAESAAADABAAAAAAAAEiAAACABAAAAAAAAEyAAAMwAAAAAAAAAICAAAFwBAAAAAAAAMCAAAIgBAAAAAAAAENAAAAQAAAAAAAAA",
    "hideIfActive" : true
  },
  {
    "modifierFlags" : 655650,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAA3mZKhqwnL34Pugg7Cpj0p1DarplTGwTJK0z6AWT7stVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEgAAAAEBAABNaWNyb3NvZnQgRWRnZS5hcHAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAC7SRQEAAAAACAAAAAQDAADZhwwAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHEOtC0gAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxJz5JgAAACQAAAABAQAAQkIwQjFBQkEtNjcxOS00MTkxLTlGNzMtNUY4QzU3QTQ5ODU4GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "order" : 2,
    "keyCode" : 1,
    "url" : "\/Applications\/Microsoft Edge.app",
    "openSelectedFolders" : true,
    "hideIfActive" : true,
    "enabled" : true,
    "openSelectedFiles" : true
  },
  {
    "url" : "\/Applications\/Spotify.app",
    "keyCode" : 2,
    "order" : 3,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAHe9a\/\/0Phwet4bdJpFKgzIn0CaLa5MPU8LAuWXCoUZXTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABTcG90aWZ5LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAu0kUBAAAAAAgAAAAEAwAATfoOAQAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxJX40oAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcSc+SYAAAAkAAAAAQEAAEJCMEIxQUJBLTY3MTktNDE5MS05RjczLTVGOEM1N0E0OTg1OBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFiles" : true,
    "modifierFlags" : 655650,
    "enabled" : true,
    "openSelectedFolders" : true,
    "hideIfActive" : true
  },
  {
    "openSelectedFolders" : true,
    "hideIfActive" : true,
    "keyCode" : 12,
    "enabled" : true,
    "url" : "\/Applications\/WhatsApp.app",
    "order" : 4,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAJY85t3SxujaPDeOIT6+juUNKwMyz437vSvqH8Rx9YnqTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABXaGF0c0FwcC5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAu0kUBAAAAAAgAAAAEAwAAvqpRAQAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxLfbpgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcSc+SYAAAAkAAAAAQEAAEJCMEIxQUJBLTY3MTktNDE5MS05RjczLTVGOEM1N0E0OTg1OBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFiles" : true,
    "modifierFlags" : 655650
  },
  {
    "keyCode" : 13,
    "bookmark" : "Ym9vazgCAAAAAAQQMAAAAJqyb3Cdn8w9M367S72T76IEckUFtiwOT2f+1Qk6HSyZWAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFQAAAAEBAABNaWNyb3NvZnQgT3V0bG9vay5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAu0kUBAAAAAAgAAAAEAwAAwDhDAQAAAAAIAAAAAQYAAFQAAABkAAAACAAAAAAEAABBxDwGuAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcSc+SYAAAAkAAAAAQEAAEJCMEIxQUJBLTY3MTktNDE5MS05RjczLTVGOEM1N0E0OTg1OBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIgAABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAAABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAAAAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "modifierFlags" : 655650,
    "openSelectedFiles" : true,
    "enabled" : true,
    "url" : "\/Applications\/Microsoft Outlook.app",
    "order" : 5,
    "openSelectedFolders" : true,
    "hideIfActive" : true
  },
  {
    "hideIfActive" : true,
    "modifierFlags" : 655650,
    "openSelectedFolders" : true,
    "url" : "\/Applications\/Microsoft Teams.app",
    "keyCode" : 14,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAIEkDA7vTqQpFXBdUZUMJdIypqDidDx3kkJaRVCZBjgBVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEwAAAAEBAABNaWNyb3NvZnQgVGVhbXMuYXBwAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAC7SRQEAAAAACAAAAAQDAACgogYBAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHEm0yEgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxJz5JgAAACQAAAABAQAAQkIwQjFBQkEtNjcxOS00MTkxLTlGNzMtNUY4QzU3QTQ5ODU4GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "order" : 6,
    "enabled" : true
  },
  {
    "enabled" : true,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9vazwCAAAAAAQQMAAAACah7l+hUlwsM4TzE78L9QH2bSet0hKLo+IgEFglNP+kXAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zGQAAAAEBAABWTXdhcmUgSG9yaXpvbiBDbGllbnQuYXBwAAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAALtJFAQAAAAAIAAAABAMAAKEMygAAAAAACAAAAAEGAABYAAAAaAAAAAgAAAAABAAAQcR7PRcAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHEnPkmAAAAJAAAAAEBAABCQjBCMUFCQS02NzE5LTQxOTEtOUY3My01RjhDNTdBNDk4NTgYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAeAAAAAAAAAAQEAAAmAAAAAAAAABAEAAAiAAAAAAAAAACIAAASAEAAAAAAAAFIAAAuAAAAAAAAAAQIAAAyAAAAAAAAAARIAAA\/AAAAAAAAAASIAAA3AAAAAAAAAATIAAA7AAAAAAAAAAgIAAAKAEAAAAAAAAwIAAAVAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "openSelectedFolders" : true,
    "keyCode" : 18,
    "order" : 7,
    "hideIfActive" : false,
    "url" : "\/Applications\/VMware Horizon Client.app",
    "modifierFlags" : 655650
  },
  {
    "modifierFlags" : 655650,
    "openSelectedFolders" : true,
    "keyCode" : 19,
    "hideIfActive" : false,
    "url" : "\/Applications\/Webex.app",
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAMh656je2lFOxAa5Yjwt\/NW9JNxNTeNFh7qzr5mz3YF1TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABXZWJleC5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAu0kUBAAAAAAgAAAAEAwAAl1APAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxD4wnoAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcSc+SYAAAAkAAAAAQEAAEJCMEIxQUJBLTY3MTktNDE5MS05RjczLTVGOEM1N0E0OTg1OBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "enabled" : true,
    "order" : 8,
    "openSelectedFiles" : true
  },
  {
    "enabled" : true,
    "url" : "\/Applications\/Citrix Workspace.app",
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "keyCode" : 21,
    "order" : 9,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAPruWdmqpvBBCspna0tMhe3Kxn\/E1wzuynxnQKjw2fIRVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFAAAAAEBAABDaXRyaXggV29ya3NwYWNlLmFwcAgAAAABBgAAEAAAACQAAAAIAAAABAMAAC7SRQEAAAAACAAAAAQDAACtZNYAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHEfKxcgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxJz5JgAAACQAAAABAQAAQkIwQjFBQkEtNjcxOS00MTkxLTlGNzMtNUY4QzU3QTQ5ODU4GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "openSelectedFolders" : true,
    "modifierFlags" : 655650
  }
]