- name: Clone Antidote repository
  stat:
    path: "{{ zdotdir }}/antidote/.antidote"
  register: dest_dir

- name: Run Git Clone command if destination directory does not exist
  git:
    repo: https://github.com/mattmc3/antidote.git
    dest: "{{ zdotdir }}/antidote/.antidote"
  when: not dest_dir.stat.exists
